/**
 * JM v1.1.1 (http://www.jonathanmaloy.com)
 * Copyright 2016 Jonathan Maloy
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/*Change box model for grid elements*/
.row, .column {
	box-sizing: border-box;
}



/*Rows with buffer space*/
.row {
	width: 100%;
	clear: both;
	float: none;
	*zoom: 1;
}
.row-content {
	max-width: 70em;
	margin: 0 auto;
	*zoom: 1;
}
	.row:after, .row-content:after {
		content: " ";
		display: table;
		clear: both;
	}
	.row-content.buffer,
	.row-content.buffer-top {
		padding-top: 2%;
	}
		.row-content.buffer.even,
		.row-content.buffer-top.even {
			padding-top: 6%;
		}
	.row-content.buffer,
	.row-content.buffer-right {
		padding-right: 8%;
	}
	.row-content.buffer,
	.row-content.buffer-bottom {
		padding-bottom: 6%;
	}
	.row-content.buffer,
	.row-content.buffer-left {
		padding-left: 8%;
	}

/*Column basics (12-based fluid grid)*/
.column.one,
.column.two,
.column.sixth,
.column.fifth,
.column.three,
.column.fourth,
.column.four,
.column.twofifths,
.column.twosixths,
.column.third,
.column.five,
.column.six,
.column.half,
.column.threefifths,
.column.threesixths,
.column.twofourths,
.column.seven,
.column.eight,
.column.fourfifths,
.column.foursixths,
.column.twothirds,
.column.nine,
.column.threefourths,
.column.ten,
.column.fivefifths,
.column.fivesixths,
.column.eleven,
.column.twelve,
.column.full {
	clear: none;
	float: left;
	min-height: 1px;
	margin-left: 0;
	margin-right: 3.8%;
}
	.column.right.one,
	.column.right.two,
	.column.right.fifth,
	.column.right.sixth,
	.column.right.three,
	.column.right.fourth,
	.column.right.four,
	.column.right.twofifths,
	.column.right.twosixths,
	.column.right.third,
	.column.right.five,
	.column.right.six,
	.column.right.half,
	.column.right.threefifths,
	.column.right.threesixths,
	.column.right.twofourths,
	.column.right.seven,
	.column.right.eight,
	.column.right.fourfifths,
	.column.right.foursixths,
	.column.right.twothirds,
	.column.right.nine,
	.column.right.threefourths,
	.column.right.ten,
	.column.right.fivefifths,
	.column.right.fivesixths,
	.column.right.eleven,
	.column.right.twelve,
	.column.right.full {
		float: right;
		margin-right: 0;
		margin-left: 3.8%;
	}

	.column.first,
	.column.full,
	.column.twelve {
		clear: both;
	}

	.column.reset {
		margin-right: 0;
	}
		.column.right.reset {
			margin-left: 0;
		}



/**
* Column widths
*/

/*Full-width column*/
.column.full,
.column.twelve {
	width: 100%;
}

/*Fifth*/
.column.fifth {
	width: 16.95%;		/* 16.96 */
}
.column.twofifths {
	width: 37.70%;		/* 33.92 + 3.8 */
}
.column.threefifths {
	width: 58.45%;		/* 50.88 + 3.8 + 3.8 */
}
.column.fourfifths {
	width: 79.20%;		/* 67.84 + 3.8 + 3.8 + 3.8 */
}
	.column.push-fifth {
		margin-left: 20.45%;
	}
		.column.right.push-fifth {
			margin-right: 20.45%;
		}
	.column.push-twofifths {
		margin-left: 41.50%;
	}
		.column.right.push-twofifths {
			margin-right: 41.50%;
		}
	.column.push-threefifths {
		margin-left: 62.25%;
	}
		.column.right.push-threefifths {
			margin-right: 62.25%;
		}
	.column.push-fourfifths {
		margin-left: 83.00%;
	}
		.column.right.push-fourfifths {
			margin-right: 83.00%;
		}

/*Fluid column widths*/
.column.one {
	width: 4.85%;
}
.column.two,
.column.sixth {
	width: 13.45%;
}
.column.three,
.column.fourth {
	width: 22.05%;
}
.column.four,
.column.twosixths,
.column.third {
	width: 30.75%;
}
.column.five {
	width: 39.45%;
}
.column.six,
.column.half,
.column.threesixths,
.column.twofourths {
	width: 48%;
}
.column.seven {
	width: 56.75%;
}
.column.eight,
.column.foursixths,
.column.twothirds {
	width: 65.4%;
}
.column.nine,
.column.threefourths {
	width: 74.05%;
}
.column.ten,
.column.fivesixths {
	width: 82.7%;
}
.column.eleven {
	width: 91.35%;
}

/*Shift guttered columns*/
.column.push-one {
	margin-left: 8.65%;
}
	.column.right.push-one {
		margin-right: 8.65%;
	}
.column.push-two,
.column.push-sixth {
	margin-left: 17.25%;
}
	.column.right.push-two,
	.column.right.push-sixth {
		margin-right: 17.25%;
	}
.column.push-three,
.column.push-fourth {
	margin-left: 25.85%;
}
	.column.right.push-three,
	.column.right.push-fourth {
		margin-right: 25.85%;
	}
.column.push-four,
.column.push-twosixths,
.column.push-third {
	margin-left: 34.55%;
}
	.column.right.push-four,
	.column.right.push-twosixths,
	.column.right.push-third {
		margin-right: 34.55%;
	}
.column.push-five {
	margin-left: 43.25%;
}
	.column.right.push-five {
		margin-right: 43.25%;
	}
.column.push-six,
.column.push-half,
.column.push-threesixths,
.column.push-twofourths {
	margin-left: 51.8%;
}
	.column.right.push-six,
	.column.right.push-half,
	.column.right.push-threesixths,
	.column.right.push-twofourths {
		margin-right: 51.8%;
	}
.column.push-seven {
	margin-left: 60.55%;
}
	.column.right.push-seven {
		margin-right: 60.55%;
	}
.column.push-eight,
.column.push-foursixths,
.column.push-twothirds {
	margin-left: 69.2%;
}
	.column.right.push-eight,
	.column.right.push-foursixths,
	.column.right.push-twothirds {
		margin-right: 69.2%;
	}
.column.push-nine,
.column.push-threefourths {
	margin-left: 77.85%;
}
	.column.right.push-nine,
	.column.right.push-threefourths {
		margin-right: 77.85%;
	}
.column.push-ten,
.column.push-fivesixths {
	margin-left: 86.5%;
}
	.column.right.push-ten,
	.column.right.push-fivesixths {
		margin-right: 86.5%;
	}
.column.push-eleven {
	margin-left: 95.15%;
}
	.column.right.push-eleven {
		margin-right: 95.15%;
	}



/*No gutters*/
.column.one.reset {
	width: 8.3%;
}
.column.two.reset,
.column.sixth.reset {
	width: 16.65%;
}
.column.fifth.reset {
	width: 20%;
}
.column.three.reset,
.column.fourth.reset {
	width: 25%;
}
.column.four.reset,
.column.twosixths.reset,
.column.third.reset {
	width: 33.3%;
}
.column.twofifths.reset {
	width: 40%;
}
.column.five.reset {
	width: 41.65%;
}
.column.six.reset,
.column.half.reset,
.column.threesixths.reset,
.column.twofourths.reset {
	width: 50%;
}
.column.seven.reset {
	width: 58.3%;
}
.column.threefifths.reset {
	width: 60%;
}
.column.eight.reset,
.column.foursixths.reset,
.column.twothirds.reset {
	width: 66.6%;
}
.column.nine.reset,
.column.threefourths.reset {
	width: 75%;
}
.column.fourfifths.reset {
	width: 80%;
}
.column.ten.reset,
.column.fivesixths.reset {
	width: 83.35%;
}
.column.eleven.reset {
	width: 91.7%;
}

/*Shift no-gutter columns*/
.column.reset.push-one {
	margin-left: 8.3%;
}
	.column.reset.right.push-one {
		margin-right: 8.3%;
	}
.column.reset.push-two,
.column.reset.push-sixth {
	margin-left: 16.65%;
}
	.column.reset.right.push-two,
	.column.reset.right.push-sixth {
		margin-right: 16.65%;
	}
.column.reset.push-fifth {
	margin-left: 20%;
}
	.column.reset.right.push-fifth {
		margin-right: 20%;
	}
.column.reset.push-three,
.column.reset.push-fourth {
	margin-left: 25%;
}
	.column.reset.right.push-three,
	.column.reset.right.push-fourth {
		margin-right: 25%;
	}
.column.reset.push-four,
.column.reset.push-twosixths,
.column.reset.push-third {
	margin-left: 33.3%;
}
	.column.reset.right.push-four,
	.column.reset.right.push-twosixths,
	.column.reset.right.push-third {
		margin-right: 33.3%;
	}
.column.reset.push-twofifths {
	margin-left: 40%;
}
	.column.reset.right.push-twofifths {
		margin-right: 40%;
	}
.column.reset.push-five {
	margin-left: 41.65%;
}
	.column.reset.right.push-five {
		margin-right: 41.65%;
	}
.column.reset.push-six,
.column.reset.push-half,
.column.reset.push-threesixths,
.column.reset.push-twofourths {
	margin-left: 50%;
}
	.column.reset.right.push-six,
	.column.right.reset.push-half,
	.column.right.reset.push-threesixths,
	.column.right.reset.push-twofourths {
		margin-right: 50%;
	}
.column.reset.push-seven {
	margin-left: 58.3%;
}
	.column.reset.right.push-seven {
		margin-right: 58.3%;
	}
.column.reset.push-threefifths {
	margin-left: 60%;
}
	.column.reset.right.push-threefifths {
		margin-right: 60%;
	}
.column.reset.push-eight,
.column.reset.push-foursixths,
.column.reset.push-twothirds {
	margin-left: 66.6%;
}
	.column.reset.right.push-eight,
	.column.reset.right.push-foursixths,
	.column.reset.right.push-twothirds {
		margin-right: 66.6%;
	}
.column.reset.push-nine,
.column.reset.push-threefourths {
	margin-left: 75%;
}
	.column.reset.right.push-nine,
	.column.reset.right.push-threefourths {
		margin-right: 75%;
	}
.column.reset.push-fourfifths {
	margin-left: 80%;
}
	.column.reset.right.push-fourfifths {
		margin-right: 80%;
	}
.column.reset.push-ten,
.column.reset.push-fivesixths {
	margin-left: 83.35%;
}
	.column.reset.right.push-ten,
	.column.reset.right.push-fivesixths {
		margin-right: 83.35%;
	}
.column.reset.push-eleven {
	margin-left: 91.7%;
}
	.column.reset.right.push-eleven {
		margin-right: 91.7%;
	}



/*Last in line*/
.column.last {
	margin-right: 0;
}
	.column.right.last {
		margin-left: 0;
	}



/*Fixed-width column with another column taking rest of the available space (fixed on the left)*/
.column.fluid {
	clear: none;
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
	.column.fluid > .column-content {
		margin-right: 10em;
	}
	.column.fixed {
		position: static;
		clear: none;
		float: right;
		margin-right: 0;
		margin-left: -100%;
		width: 10em;
	}

	/*Reverse stacking*/
	.column.fluid.right > .column-content {
		margin-right: 0;
		margin-left: 10em;
	}
	.column.fixed.right {
		float: left;
	}
	
@media handheld,only screen and (max-width:39.9375em){.hidden-under-small{display:none}}@media handheld,only screen and (min-width:40em){.hidden-over-small{display:none}.limit-small{max-width:40em}.column.first[class^="small-"],.column.first[class*=" small-"]{clear:none}.column.last[class^="small-"],.column.last[class*=" small-"]{margin-right:3.8%}.column.right.last[class^="small-"],.column.right.last[class*=" small-"]{margin-left:3.8%}.column[class^="small-"],.column[class*=" small-"]{clear:none;float:left;min-height:1px;margin-left:0;margin-right:3.8%}.column.right[class^="small-"],.column.right[class*=" small-"]{float:right;margin-right:0;margin-left:3.8%}.column.reset[class^="small-"],.column.reset[class*=" small-"]{margin-right:0;margin-left:0}.column.small-full,.column.small-twelve{width:100%}.column.small-fifth{width:16.95%}.column.small-twofifths{width:37.70%}.column.small-threefifths{width:58.45%}.column.small-fourfifths{width:79.20%}.column.small-push-fifth{margin-left:20.45%}.column.small-right.push-fifth{margin-right:20.45%}.column.small-push-twofifths{margin-left:41.50%}.column.small-right.push-twofifths{margin-right:41.50%}.column.small-push-threefifths{margin-left:62.25%}.column.small-right.push-threefifths{margin-right:62.25%}.column.small-push-fourfifths{margin-left:83.00%}.column.small-right.push-fourfifths{margin-right:83.00%}.column.small-one{width:4.85%}.column.small-two,.column.small-sixth{width:13.45%}.column.small-three,.column.small-fourth{width:22.05%}.column.small-four,.column.small-twosixths,.column.small-third{width:30.75%}.column.small-five{width:39.45%}.column.small-six,.column.small-half,.column.small-threesixths,.column.small-twofourths{width:48%}.column.small-seven{width:56.75%}.column.small-eight,.column.small-foursixths,.column.small-twothirds{width:65.4%}.column.small-nine,.column.small-threefourths{width:74.05%}.column.small-ten,.column.small-fivesixths{width:82.7%}.column.small-eleven{width:91.35%}.column.small-push-one{margin-left:8.65%}.column.right.small-push-one{margin-right:8.65%}.column.small-push-two,.column.small-push-sixth{margin-left:17.25%}.column.right.small-push-two,.column.right.small-push-sixth{margin-right:17.25%}.column.small-push-three,.column.small-push-fourth{margin-left:25.85%}.column.right.small-push-three,.column.right.small-push-fourth{margin-right:25.85%}.column.small-push-four,.column.small-push-twosixths,.column.small-push-third{margin-left:34.55%}.column.right.small-push-four,.column.right.small-push-twosixths,.column.right.small-push-third{margin-right:34.55%}.column.small-push-five{margin-left:43.25%}.column.right.small-push-five{margin-right:43.25%}.column.small-push-six,.column.small-push-half,.column.small-push-threesixths,.column.small-push-twofourths{margin-left:51.8%}.column.right.small-push-six,.column.right.small-push-half,.column.right.small-push-threesixths,.column.right.small-push-twofourths{margin-right:51.8%}.column.small-push-seven{margin-left:60.55%}.column.right.small-push-seven{margin-right:60.55%}.column.small-push-eight,.column.small-push-foursixths,.column.small-push-twothirds{margin-left:69.2%}.column.right.small-push-eight,.column.right.small-push-foursixths,.column.right.small-push-twothirds{margin-right:69.2%}.column.small-push-nine,.column.small-push-threefourths{margin-left:77.85%}.column.right.small-push-nine,.column.right.small-push-threefourths{margin-right:77.85%}.column.small-push-ten,.column.small-push-fivesixths{margin-left:86.5%}.column.right.small-push-ten,.column.right.small-push-fivesixths{margin-right:86.5%}.column.small-push-eleven{margin-left:95.15%}.column.right.small-push-eleven{margin-right:95.15%}.column.small-one.reset{width:8.3%}.column.small-two.reset,.column.small-sixth.reset{width:16.65%}.column.small-three.reset,.column.small-fourth.reset{width:25%}.column.small-four.reset,.column.small-twosixths.reset,.column.small-third.reset{width:33.3%}.column.small-five.reset{width:41.65%}.column.small-six.reset,.column.small-half.reset,.column.small-threesixths.reset,.column.small-twofourths.reset{width:50%}.column.small-seven.reset{width:58.3%}.column.small-eight.reset,.column.small-foursixths.reset,.column.small-twothirds.reset{width:66.6%}.column.small-nine.reset,.column.small-threefourths.reset{width:75%}.column.small-ten.reset,.column.small-fivesixths.reset{width:83.35%}.column.small-eleven.reset{width:91.7%}.column.small-full.reset,.column.small-twelve.reset{width:100%}.column.reset.small-push-one{margin-left:8.3%}.column.reset.right.small-push-one{margin-right:8.3%}.column.reset.small-push-two,.column.reset.small-push-sixth{margin-left:16.65%}.column.reset.right.small-push-two,.column.reset.right.small-push-sixth{margin-right:16.65%}.column.reset.small-push-three,.column.reset.small-push-fourth{margin-left:25%}.column.reset.right.small-push-three,.column.reset.right.small-push-fourth{margin-right:25%}.column.reset.small-push-four,.column.reset.small-push-twosixths,.column.reset.small-push-third{margin-left:33.3%}.column.reset.right.small-push-four,.column.reset.right.small-push-twosixths,.column.reset.right.small-push-third{margin-right:33.3%}.column.reset.small-push-five{margin-left:41.65%}.column.reset.right.small-push-five{margin-right:41.65%}.column.reset.small-push-six,.column.reset.small-push-half,.column.reset.small-push-threesixths,.column.reset.small-push-twofourths{margin-left:50%}.column.reset.right.small-push-six,.column.right.reset.small-push-half,.column.right.reset.small-push-threesixths,.column.right.reset.small-push-twofourths{margin-right:50%}.column.reset.small-push-seven{margin-left:58.3%}.column.reset.right.small-push-seven{margin-right:58.3%}.column.reset.small-push-eight,.column.reset.small-push-foursixths,.column.reset.small-push-twothirds{margin-left:66.6%}.column.reset.right.small-push-eight,.column.reset.right.small-push-foursixths,.column.reset.right.small-push-twothirds{margin-right:66.6%}.column.reset.small-push-nine,.column.reset.small-push-threefourths{margin-left:75%}.column.reset.right.small-push-nine,.column.reset.right.small-push-threefourths{margin-right:75%}.column.reset.small-push-ten,.column.reset.small-push-fivesixths{margin-left:83.35%}.column.reset.right.small-push-ten,.column.reset.right.small-push-fivesixths{margin-right:83.35%}.column.reset.small-push-eleven{margin-left:91.7%}.column.reset.right.small-push-eleven{margin-right:91.7%}.column.small-first,.column.first.small-first{clear:both}.column.small-last,.column.last.small-last{margin-right:0}.column.right.small-last,.column.right.last.small-last{margin-left:0}.column.small-break{width:auto !important;float:none !important;clear:both !important;margin-right:0 !important;margin-left:0 !important}}@media handheld,only screen and (max-width:69.9375em){.hidden-under-medium{display:none}}@media handheld,only screen and (min-width:70em){.hidden-over-medium{display:none}.limit-medium{max-width:70em}.column.first[class^="medium-"],.column.first[class*=" medium-"]{clear:none}.column.small-first[class^="medium-"],.column.small-first[class*=" medium-"]{clear:none}.column.last[class^="medium-"],.column.last[class*=" medium-"],.column.small-last[class^="medium-"],.column.small-last[class*=" medium-"]{margin-right:3.8%}.column.right.last[class^="medium-"],.column.right.last[class*=" medium-"],.column.right.small-last[class^="medium-"],.column.right.small-last[class*=" medium-"]{margin-left:3.8%}.column[class^="medium-"],.column[class*=" medium-"]{clear:none;float:left;min-height:1px;margin-left:0;margin-right:3.8%}.column.right[class^="medium-"],.column.right[class*=" medium-"]{float:right;margin-right:0;margin-left:3.8%}.column.reset[class^="medium-"],.column.reset[class*=" medium-"]{margin-right:0;margin-left:0}.column.medium-full,.column.medium-twelve{width:100%}.column.medium-fifth{width:16.95%}.column.medium-twofifths{width:37.70%}.column.medium-threefifths{width:58.45%}.column.medium-fourfifths{width:79.20%}.column.medium-push-fifth{margin-left:20.45%}.column.medium-right.push-fifth{margin-right:20.45%}.column.medium-push-twofifths{margin-left:41.50%}.column.medium-right.push-twofifths{margin-right:41.50%}.column.medium-push-threefifths{margin-left:62.25%}.column.medium-right.push-threefifths{margin-right:62.25%}.column.medium-push-fourfifths{margin-left:83.00%}.column.medium-right.push-fourfifths{margin-right:83.00%}.column.medium-one{width:4.85%}.column.medium-two,.column.medium-sixth{width:13.45%}.column.medium-three,.column.medium-fourth{width:22.05%}.column.medium-four,.column.medium-twosixths,.column.medium-third{width:30.75%}.column.medium-five{width:39.45%}.column.medium-six,.column.medium-half,.column.medium-threesixths,.column.medium-twofourths{width:48%}.column.medium-seven{width:56.75%}.column.medium-eight,.column.medium-foursixths,.column.medium-twothirds{width:65.4%}.column.medium-nine,.column.medium-threefourths{width:74.05%}.column.medium-ten,.column.medium-fivesixths{width:82.7%}.column.medium-eleven{width:91.35%}.column.medium-full.reset,.column.medium-twelve.reset{width:100%}.column.medium-push-one{margin-left:8.65%}.column.right.medium-push-one{margin-right:8.65%}.column.medium-push-two,.column.medium-push-sixth{margin-left:17.25%}.column.right.medium-push-two,.column.right.medium-push-sixth{margin-right:17.25%}.column.medium-push-three,.column.medium-push-fourth{margin-left:25.85%}.column.right.medium-push-three,.column.right.medium-push-fourth{margin-right:25.85%}.column.medium-push-four,.column.medium-push-twosixths,.column.medium-push-third{margin-left:34.55%}.column.right.medium-push-four,.column.right.medium-push-twosixths,.column.right.medium-push-third{margin-right:34.55%}.column.medium-push-five{margin-left:43.25%}.column.right.medium-push-five{margin-right:43.25%}.column.medium-push-six,.column.medium-push-half,.column.medium-push-threesixths,.column.medium-push-twofourths{margin-left:51.8%}.column.right.medium-push-six,.column.right.medium-push-half,.column.right.medium-push-threesixths,.column.right.medium-push-twofourths{margin-right:51.8%}.column.medium-push-seven{margin-left:60.55%}.column.right.medium-push-seven{margin-right:60.55%}.column.medium-push-eight,.column.medium-push-foursixths,.column.medium-push-twothirds{margin-left:69.2%}.column.right.medium-push-eight,.column.right.medium-push-foursixths,.column.right.medium-push-twothirds{margin-right:69.2%}.column.medium-push-nine,.column.medium-push-threefourths{margin-left:77.85%}.column.right.medium-push-nine,.column.right.medium-push-threefourths{margin-right:77.85%}.column.medium-push-ten,.column.medium-push-fivesixths{margin-left:86.5%}.column.right.medium-push-ten,.column.right.medium-push-fivesixths{margin-right:86.5%}.column.medium-push-eleven{margin-left:95.15%}.column.right.medium-push-eleven{margin-right:95.15%}.column.medium-one.reset{width:8.3%}.column.medium-two.reset,.column.medium-sixth.reset{width:16.65%}.column.medium-three.reset,.column.medium-fourth.reset{width:25%}.column.medium-four.reset,.column.medium-twosixths.reset,.column.medium-third.reset{width:33.3%}.column.medium-five.reset{width:41.65%}.column.medium-six.reset,.column.medium-half.reset,.column.medium-threesixths.reset,.column.medium-twofourths.reset{width:50%}.column.medium-seven.reset{width:58.3%}.column.medium-eight.reset,.column.medium-foursixths.reset,.column.medium-twothirds.reset{width:66.6%}.column.medium-nine.reset,.column.medium-threefourths.reset{width:75%}.column.medium-ten.reset,.column.medium-fivesixths.reset{width:83.35%}.column.medium-eleven.reset{width:91.7%}.column.reset.medium-push-one{margin-left:8.3%}.column.reset.right.medium-push-one{margin-right:8.3%}.column.reset.medium-push-two,.column.reset.medium-push-sixth{margin-left:16.65%}.column.reset.right.medium-push-two,.column.reset.right.medium-push-sixth{margin-right:16.65%}.column.reset.medium-push-three,.column.reset.medium-push-fourth{margin-left:25%}.column.reset.right.medium-push-three,.column.reset.right.medium-push-fourth{margin-right:25%}.column.reset.medium-push-four,.column.reset.medium-push-twosixths,.column.reset.medium-push-third{margin-left:33.3%}.column.reset.right.medium-push-four,.column.reset.right.medium-push-twosixths,.column.reset.right.medium-push-third{margin-right:33.3%}.column.reset.medium-push-five{margin-left:41.65%}.column.reset.right.medium-push-five{margin-right:41.65%}.column.reset.medium-push-six,.column.reset.medium-push-half,.column.reset.medium-push-threesixths,.column.reset.medium-push-twofourths{margin-left:50%}.column.reset.right.medium-push-six,.column.right.reset.medium-push-half,.column.right.reset.medium-push-threesixths,.column.right.reset.medium-push-twofourths{margin-right:50%}.column.reset.medium-push-seven{margin-left:58.3%}.column.reset.right.medium-push-seven{margin-right:58.3%}.column.reset.medium-push-eight,.column.reset.medium-push-foursixths,.column.reset.medium-push-twothirds{margin-left:66.6%}.column.reset.right.medium-push-eight,.column.reset.right.medium-push-foursixths,.column.reset.right.medium-push-twothirds{margin-right:66.6%}.column.reset.medium-push-nine,.column.reset.medium-push-threefourths{margin-left:75%}.column.reset.right.medium-push-nine,.column.reset.right.medium-push-threefourths{margin-right:75%}.column.reset.medium-push-ten,.column.reset.medium-push-fivesixths{margin-left:83.35%}.column.reset.right.medium-push-ten,.column.reset.right.medium-push-fivesixths{margin-right:83.35%}.column.reset.medium-push-eleven{margin-left:91.7%}.column.reset.right.medium-push-eleven{margin-right:91.7%}.column.medium-first[class^="medium-"],.column.medium-first[class*=" medium-"]{clear:both}.column.medium-last,.column.medium-last[class^="medium-"],.column.medium-last[class*=" medium-"]{margin-right:0}.column.right.medium-last,.column.right.medium-last[class^="medium-"],.column.right.medium-last[class*=" medium-"]{margin-left:0}.column.medium-break{width:auto !important;float:none !important;clear:both !important;margin-right:0 !important;margin-left:0 !important}}
/*!
 * Waves v0.7.5
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2016 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE 
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  transition: all 0.5s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}
.waves-notransition {
  transition: none !important;
}
.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
}
.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}
.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper.waves-button {
  padding: 0;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}
.waves-float {
  -webkit-mask-image: none;
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  transition: all 300ms;
}
.waves-float:active {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}
.waves-block {
  display: block;
}

/* Basics */
* { box-sizing: border-box;}
html, body {height:100%;}
html {color: #666666; font-family: 'Lato', sans-serif; font-size: 1em; line-height: 1.4;}
html.menu-open {overflow-y: hidden;}
a {text-decoration:none; color:#e74c3c;}
a:hover {color:#666666;}
.container {width:94%; max-width:1280px; margin:0 auto;}
a.phone {color:#666666;}

/* Misc */
::-moz-selection {background: #f6c4c1; text-shadow: none;}
::selection {background: #f6c4c1; text-shadow: none;}
img,svg {vertical-align: middle;}
img {max-width:100%;}
.center-align {text-align:center;}
.right-align {text-align:right;}
.left-align {text-align:left;}
.clear {clear:both;}
.brand-color {color:#e74c3c;}

.button {display:inline-block; padding:1.2rem 4rem; font-size:1.750rem; line-height:1; color:#e74c3c; font-weight:400; border:1px solid #e74c3c; border-radius:4px; transition:.5s;}
.button:hover {background-color:#e74c3c; color:#ffffff;}

h1, h2, h3, h4, h5, h6 {font-family: 'Poppins', sans-serif; text-align:center;}
h1 {font-size:3.375rem; color:#e74c3c;}

/* Header */
header {text-align:left; padding:0 1em; font-size:1.3em; text-transform:uppercase; font-weight:300; background-color:rgba(255,255,255,.8); height:60px; line-height:60px; position:fixed; z-index:9999; width:100%;}
header a {color:#666666;}
header a span.dev {font-weight:700; color:#e74c3c; display:inline-block;}


.menu-icon {width: 21px; height: 15px; position: absolute; -webkit-transform: rotate(0deg); transform: rotate(0deg); transition: .5s ease-in-out; cursor: pointer; right:0; top:50%; margin-top:-7px; margin-right:1em;}
.menu-icon span {display: block; position: absolute; height: 3px; width: 100%; background: #999999; opacity: 1; left: 0; -webkit-transform: rotate(0deg); transform: rotate(0deg); transition: .25s ease-in-out;}
.menu-icon span:nth-child(1) {top: 0px; -webkit-transform-origin: left center; transform-origin: left center;}
.menu-icon span:nth-child(2) {top: 6px; -webkit-transform-origin: left center; transform-origin: left center;}
.menu-icon span:nth-child(3) {top: 12px; -webkit-transform-origin: left center; transform-origin: left center;}
.menu-icon.open span:nth-child(1) {-webkit-transform: rotate(45deg); transform: rotate(45deg); top: -3px; left: 0;}
.menu-icon.open span:nth-child(2) {width: 0%; opacity: 0;}
.menu-icon.open span:nth-child(3) {-webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 12px; left: 0;}

nav {height: 100%; width: 100%; opacity:0; position: fixed;  z-index: -1; left: 0; top: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9); overflow: hidden; transition: .5s;}
nav.active {opacity:1; z-index: 9000;}
nav.active + header {background-color:#fff; }

.nav-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align:center;}
.nav-content a {display:block; color:#bfbfbf ; font-size:1.750em; line-height:1.8em;}
.nav-content a:hover {color:#ffffff;}

footer {position:absolute; width:100%; bottom:0; left:0; padding:1.5em 2em; text-align:center; background-color:rgba(255,255,255,.1);}
footer a {display:inline-block; margin:0 10px;}
footer a img {opacity:.6;}
footer a:hover img {opacity:1;}

.error-404 {font-size:2em; text-align:center; font-family: 'Poppins', sans-serif;}
.error-404 span {font-size:4em; color:#e74c3c; font-weight:700;}


@media only screen and (min-width: 38em) {
	header {text-align:center; padding:0 2em; font-size:2.4em; height:120px; line-height:120px;}
}
@media only screen and (min-width: 50em) {
	header {font-size:2.8em;}
	header a span.dev {margin:0 0 0 10px;}
	.menu-icon {margin-right:2em;}
}


section {font-size:1.750em; font-weight:300; line-height:1.7em; height:auto; position:relative; width:100%;  padding:3em 0;}
section#intro {text-align:center;}
.section-content {width:100%;}
section.portfolio {overflow:hidden; height:auto; padding:3em 0;}
section.portfolio a {color:#fff;}
section.portfolio a:hover:not(.button) {color:#fff; font-weight:400;} 

#rentvine {background:url(../../images/rentvine.jpg) no-repeat center top; background-size:cover;}
#groupfox {background:url(../../images/groupfox.jpg) no-repeat center top; background-size:cover;}
#sandestin {background:url(../../images/sandestin.jpg) no-repeat center center; background-size:cover;}
#faros {background:url(../../images/faros.jpg) no-repeat center center; background-size:cover;}
#tishman {background:url(../../images/tishman-speyer.jpg) no-repeat center center; background-size:cover;}

.portfolio-content {text-align:center; color:#fff; width:100%; text-shadow: 0px 0px 35px rgba(0, 0, 0, 1);}
.portfolio-content-inner {font-size:1.500rem; line-height:1.5em; margin: 0; padding: 1em; position:relative; width:100%;} 
.portfolio-content .button {color:#fff; font-weight:400; border:1px solid #fff;}
.portfolio-content .button:hover {background-color:#fff; color:#666;}
.portfolio-content a.logo img {max-height:150px; max-width:70%;}

#developer {background-color:#e74c3c; color:#fff; text-align:center;}
#skill {background-color:#ECF0F1; text-align:center; font-size:1.250em;}
#contact {text-align:center;}
#contact img {margin:10px;}
@media only screen and (min-width: 38em) {
	section#intro {padding:4em 0 3em;}	
}

@media only screen and (min-width: 50em) {
	.portfolio-content a.logo img {max-height:none; max-width:none;}
	section.portfolio, section:not(.deflate) {height:100%; padding:0;}
	section#intro {height:auto; padding:7em 0 5em; text-align:left;}
	.portfolio-content, section:not(.deflate) .section-content  {position: absolute; top: 50%; left:0; -webkit-transform: translate(0, -50%); transform: translate(0, -50%);}
	section#intro .section-content {position:relative; top:auto; left:auto; -webkit-transform:none; transform:none;}
	#developer, #contact {text-align:left;}
}

@media only screen and (min-width: 40em) {
	#skill {text-align:left;}
}