
/*Change box model for grid elements*/
.row, .column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/*Rows with buffer space*/
.row {
	width: 100%;
	clear: both;
	float: none;
	*zoom: 1;
}
.row-content {
	max-width: 70em;
	margin: 0 auto;
	*zoom: 1;
}
	.row:after, .row-content:after {
		content: " ";
		display: table;
		clear: both;
	}
	.row-content.buffer,
	.row-content.buffer-top {
		padding-top: 2%;
	}
		.row-content.buffer.even,
		.row-content.buffer-top.even {
			padding-top: 6%;
		}
	.row-content.buffer,
	.row-content.buffer-right {
		padding-right: 8%;
	}
	.row-content.buffer,
	.row-content.buffer-bottom {
		padding-bottom: 6%;
	}
	.row-content.buffer,
	.row-content.buffer-left {
		padding-left: 8%;
	}

/*Column basics (12-based fluid grid)*/
.column.one,
.column.two,
.column.sixth,
.column.fifth,
.column.three,
.column.fourth,
.column.four,
.column.twofifths,
.column.twosixths,
.column.third,
.column.five,
.column.six,
.column.half,
.column.threefifths,
.column.threesixths,
.column.twofourths,
.column.seven,
.column.eight,
.column.fourfifths,
.column.foursixths,
.column.twothirds,
.column.nine,
.column.threefourths,
.column.ten,
.column.fivefifths,
.column.fivesixths,
.column.eleven,
.column.twelve,
.column.full {
	clear: none;
	float: left;
	min-height: 1px;
	margin-left: 0;
	margin-right: 3.8%;
}
	.column.right.one,
	.column.right.two,
	.column.right.fifth,
	.column.right.sixth,
	.column.right.three,
	.column.right.fourth,
	.column.right.four,
	.column.right.twofifths,
	.column.right.twosixths,
	.column.right.third,
	.column.right.five,
	.column.right.six,
	.column.right.half,
	.column.right.threefifths,
	.column.right.threesixths,
	.column.right.twofourths,
	.column.right.seven,
	.column.right.eight,
	.column.right.fourfifths,
	.column.right.foursixths,
	.column.right.twothirds,
	.column.right.nine,
	.column.right.threefourths,
	.column.right.ten,
	.column.right.fivefifths,
	.column.right.fivesixths,
	.column.right.eleven,
	.column.right.twelve,
	.column.right.full {
		float: right;
		margin-right: 0;
		margin-left: 3.8%;
	}

	.column.first,
	.column.full,
	.column.twelve {
		clear: both;
	}

	.column.reset {
		margin-right: 0;
	}
		.column.right.reset {
			margin-left: 0;
		}



/**
* Column widths
*/

/*Full-width column*/
.column.full,
.column.twelve {
	width: 100%;
}

/*Fifth*/
.column.fifth {
	width: 16.95%;		/* 16.96 */
}
.column.twofifths {
	width: 37.70%;		/* 33.92 + 3.8 */
}
.column.threefifths {
	width: 58.45%;		/* 50.88 + 3.8 + 3.8 */
}
.column.fourfifths {
	width: 79.20%;		/* 67.84 + 3.8 + 3.8 + 3.8 */
}
	.column.push-fifth {
		margin-left: 20.45%;
	}
		.column.right.push-fifth {
			margin-right: 20.45%;
		}
	.column.push-twofifths {
		margin-left: 41.50%;
	}
		.column.right.push-twofifths {
			margin-right: 41.50%;
		}
	.column.push-threefifths {
		margin-left: 62.25%;
	}
		.column.right.push-threefifths {
			margin-right: 62.25%;
		}
	.column.push-fourfifths {
		margin-left: 83.00%;
	}
		.column.right.push-fourfifths {
			margin-right: 83.00%;
		}

/*Fluid column widths*/
.column.one {
	width: 4.85%;
}
.column.two,
.column.sixth {
	width: 13.45%;
}
.column.three,
.column.fourth {
	width: 22.05%;
}
.column.four,
.column.twosixths,
.column.third {
	width: 30.75%;
}
.column.five {
	width: 39.45%;
}
.column.six,
.column.half,
.column.threesixths,
.column.twofourths {
	width: 48%;
}
.column.seven {
	width: 56.75%;
}
.column.eight,
.column.foursixths,
.column.twothirds {
	width: 65.4%;
}
.column.nine,
.column.threefourths {
	width: 74.05%;
}
.column.ten,
.column.fivesixths {
	width: 82.7%;
}
.column.eleven {
	width: 91.35%;
}

/*Shift guttered columns*/
.column.push-one {
	margin-left: 8.65%;
}
	.column.right.push-one {
		margin-right: 8.65%;
	}
.column.push-two,
.column.push-sixth {
	margin-left: 17.25%;
}
	.column.right.push-two,
	.column.right.push-sixth {
		margin-right: 17.25%;
	}
.column.push-three,
.column.push-fourth {
	margin-left: 25.85%;
}
	.column.right.push-three,
	.column.right.push-fourth {
		margin-right: 25.85%;
	}
.column.push-four,
.column.push-twosixths,
.column.push-third {
	margin-left: 34.55%;
}
	.column.right.push-four,
	.column.right.push-twosixths,
	.column.right.push-third {
		margin-right: 34.55%;
	}
.column.push-five {
	margin-left: 43.25%;
}
	.column.right.push-five {
		margin-right: 43.25%;
	}
.column.push-six,
.column.push-half,
.column.push-threesixths,
.column.push-twofourths {
	margin-left: 51.8%;
}
	.column.right.push-six,
	.column.right.push-half,
	.column.right.push-threesixths,
	.column.right.push-twofourths {
		margin-right: 51.8%;
	}
.column.push-seven {
	margin-left: 60.55%;
}
	.column.right.push-seven {
		margin-right: 60.55%;
	}
.column.push-eight,
.column.push-foursixths,
.column.push-twothirds {
	margin-left: 69.2%;
}
	.column.right.push-eight,
	.column.right.push-foursixths,
	.column.right.push-twothirds {
		margin-right: 69.2%;
	}
.column.push-nine,
.column.push-threefourths {
	margin-left: 77.85%;
}
	.column.right.push-nine,
	.column.right.push-threefourths {
		margin-right: 77.85%;
	}
.column.push-ten,
.column.push-fivesixths {
	margin-left: 86.5%;
}
	.column.right.push-ten,
	.column.right.push-fivesixths {
		margin-right: 86.5%;
	}
.column.push-eleven {
	margin-left: 95.15%;
}
	.column.right.push-eleven {
		margin-right: 95.15%;
	}



/*No gutters*/
.column.one.reset {
	width: 8.3%;
}
.column.two.reset,
.column.sixth.reset {
	width: 16.65%;
}
.column.fifth.reset {
	width: 20%;
}
.column.three.reset,
.column.fourth.reset {
	width: 25%;
}
.column.four.reset,
.column.twosixths.reset,
.column.third.reset {
	width: 33.3%;
}
.column.twofifths.reset {
	width: 40%;
}
.column.five.reset {
	width: 41.65%;
}
.column.six.reset,
.column.half.reset,
.column.threesixths.reset,
.column.twofourths.reset {
	width: 50%;
}
.column.seven.reset {
	width: 58.3%;
}
.column.threefifths.reset {
	width: 60%;
}
.column.eight.reset,
.column.foursixths.reset,
.column.twothirds.reset {
	width: 66.6%;
}
.column.nine.reset,
.column.threefourths.reset {
	width: 75%;
}
.column.fourfifths.reset {
	width: 80%;
}
.column.ten.reset,
.column.fivesixths.reset {
	width: 83.35%;
}
.column.eleven.reset {
	width: 91.7%;
}

/*Shift no-gutter columns*/
.column.reset.push-one {
	margin-left: 8.3%;
}
	.column.reset.right.push-one {
		margin-right: 8.3%;
	}
.column.reset.push-two,
.column.reset.push-sixth {
	margin-left: 16.65%;
}
	.column.reset.right.push-two,
	.column.reset.right.push-sixth {
		margin-right: 16.65%;
	}
.column.reset.push-fifth {
	margin-left: 20%;
}
	.column.reset.right.push-fifth {
		margin-right: 20%;
	}
.column.reset.push-three,
.column.reset.push-fourth {
	margin-left: 25%;
}
	.column.reset.right.push-three,
	.column.reset.right.push-fourth {
		margin-right: 25%;
	}
.column.reset.push-four,
.column.reset.push-twosixths,
.column.reset.push-third {
	margin-left: 33.3%;
}
	.column.reset.right.push-four,
	.column.reset.right.push-twosixths,
	.column.reset.right.push-third {
		margin-right: 33.3%;
	}
.column.reset.push-twofifths {
	margin-left: 40%;
}
	.column.reset.right.push-twofifths {
		margin-right: 40%;
	}
.column.reset.push-five {
	margin-left: 41.65%;
}
	.column.reset.right.push-five {
		margin-right: 41.65%;
	}
.column.reset.push-six,
.column.reset.push-half,
.column.reset.push-threesixths,
.column.reset.push-twofourths {
	margin-left: 50%;
}
	.column.reset.right.push-six,
	.column.right.reset.push-half,
	.column.right.reset.push-threesixths,
	.column.right.reset.push-twofourths {
		margin-right: 50%;
	}
.column.reset.push-seven {
	margin-left: 58.3%;
}
	.column.reset.right.push-seven {
		margin-right: 58.3%;
	}
.column.reset.push-threefifths {
	margin-left: 60%;
}
	.column.reset.right.push-threefifths {
		margin-right: 60%;
	}
.column.reset.push-eight,
.column.reset.push-foursixths,
.column.reset.push-twothirds {
	margin-left: 66.6%;
}
	.column.reset.right.push-eight,
	.column.reset.right.push-foursixths,
	.column.reset.right.push-twothirds {
		margin-right: 66.6%;
	}
.column.reset.push-nine,
.column.reset.push-threefourths {
	margin-left: 75%;
}
	.column.reset.right.push-nine,
	.column.reset.right.push-threefourths {
		margin-right: 75%;
	}
.column.reset.push-fourfifths {
	margin-left: 80%;
}
	.column.reset.right.push-fourfifths {
		margin-right: 80%;
	}
.column.reset.push-ten,
.column.reset.push-fivesixths {
	margin-left: 83.35%;
}
	.column.reset.right.push-ten,
	.column.reset.right.push-fivesixths {
		margin-right: 83.35%;
	}
.column.reset.push-eleven {
	margin-left: 91.7%;
}
	.column.reset.right.push-eleven {
		margin-right: 91.7%;
	}



/*Last in line*/
.column.last {
	margin-right: 0;
}
	.column.right.last {
		margin-left: 0;
	}



/*Fixed-width column with another column taking rest of the available space (fixed on the left)*/
.column.fluid {
	clear: none;
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
	.column.fluid > .column-content {
		margin-right: 10em;
	}
	.column.fixed {
		position: static;
		clear: none;
		float: right;
		margin-right: 0;
		margin-left: -100%;
		width: 10em;
	}

	/*Reverse stacking*/
	.column.fluid.right > .column-content {
		margin-right: 0;
		margin-left: 10em;
	}
	.column.fixed.right {
		float: left;
	}
	
@media handheld,only screen and (max-width:39.9375em){.hidden-under-small{display:none}}@media handheld,only screen and (min-width:40em){.hidden-over-small{display:none}.limit-small{max-width:40em}.column.first[class^="small-"],.column.first[class*=" small-"]{clear:none}.column.last[class^="small-"],.column.last[class*=" small-"]{margin-right:3.8%}.column.right.last[class^="small-"],.column.right.last[class*=" small-"]{margin-left:3.8%}.column[class^="small-"],.column[class*=" small-"]{clear:none;float:left;min-height:1px;margin-left:0;margin-right:3.8%}.column.right[class^="small-"],.column.right[class*=" small-"]{float:right;margin-right:0;margin-left:3.8%}.column.reset[class^="small-"],.column.reset[class*=" small-"]{margin-right:0;margin-left:0}.column.small-full,.column.small-twelve{width:100%}.column.small-fifth{width:16.95%}.column.small-twofifths{width:37.70%}.column.small-threefifths{width:58.45%}.column.small-fourfifths{width:79.20%}.column.small-push-fifth{margin-left:20.45%}.column.small-right.push-fifth{margin-right:20.45%}.column.small-push-twofifths{margin-left:41.50%}.column.small-right.push-twofifths{margin-right:41.50%}.column.small-push-threefifths{margin-left:62.25%}.column.small-right.push-threefifths{margin-right:62.25%}.column.small-push-fourfifths{margin-left:83.00%}.column.small-right.push-fourfifths{margin-right:83.00%}.column.small-one{width:4.85%}.column.small-two,.column.small-sixth{width:13.45%}.column.small-three,.column.small-fourth{width:22.05%}.column.small-four,.column.small-twosixths,.column.small-third{width:30.75%}.column.small-five{width:39.45%}.column.small-six,.column.small-half,.column.small-threesixths,.column.small-twofourths{width:48%}.column.small-seven{width:56.75%}.column.small-eight,.column.small-foursixths,.column.small-twothirds{width:65.4%}.column.small-nine,.column.small-threefourths{width:74.05%}.column.small-ten,.column.small-fivesixths{width:82.7%}.column.small-eleven{width:91.35%}.column.small-push-one{margin-left:8.65%}.column.right.small-push-one{margin-right:8.65%}.column.small-push-two,.column.small-push-sixth{margin-left:17.25%}.column.right.small-push-two,.column.right.small-push-sixth{margin-right:17.25%}.column.small-push-three,.column.small-push-fourth{margin-left:25.85%}.column.right.small-push-three,.column.right.small-push-fourth{margin-right:25.85%}.column.small-push-four,.column.small-push-twosixths,.column.small-push-third{margin-left:34.55%}.column.right.small-push-four,.column.right.small-push-twosixths,.column.right.small-push-third{margin-right:34.55%}.column.small-push-five{margin-left:43.25%}.column.right.small-push-five{margin-right:43.25%}.column.small-push-six,.column.small-push-half,.column.small-push-threesixths,.column.small-push-twofourths{margin-left:51.8%}.column.right.small-push-six,.column.right.small-push-half,.column.right.small-push-threesixths,.column.right.small-push-twofourths{margin-right:51.8%}.column.small-push-seven{margin-left:60.55%}.column.right.small-push-seven{margin-right:60.55%}.column.small-push-eight,.column.small-push-foursixths,.column.small-push-twothirds{margin-left:69.2%}.column.right.small-push-eight,.column.right.small-push-foursixths,.column.right.small-push-twothirds{margin-right:69.2%}.column.small-push-nine,.column.small-push-threefourths{margin-left:77.85%}.column.right.small-push-nine,.column.right.small-push-threefourths{margin-right:77.85%}.column.small-push-ten,.column.small-push-fivesixths{margin-left:86.5%}.column.right.small-push-ten,.column.right.small-push-fivesixths{margin-right:86.5%}.column.small-push-eleven{margin-left:95.15%}.column.right.small-push-eleven{margin-right:95.15%}.column.small-one.reset{width:8.3%}.column.small-two.reset,.column.small-sixth.reset{width:16.65%}.column.small-three.reset,.column.small-fourth.reset{width:25%}.column.small-four.reset,.column.small-twosixths.reset,.column.small-third.reset{width:33.3%}.column.small-five.reset{width:41.65%}.column.small-six.reset,.column.small-half.reset,.column.small-threesixths.reset,.column.small-twofourths.reset{width:50%}.column.small-seven.reset{width:58.3%}.column.small-eight.reset,.column.small-foursixths.reset,.column.small-twothirds.reset{width:66.6%}.column.small-nine.reset,.column.small-threefourths.reset{width:75%}.column.small-ten.reset,.column.small-fivesixths.reset{width:83.35%}.column.small-eleven.reset{width:91.7%}.column.small-full.reset,.column.small-twelve.reset{width:100%}.column.reset.small-push-one{margin-left:8.3%}.column.reset.right.small-push-one{margin-right:8.3%}.column.reset.small-push-two,.column.reset.small-push-sixth{margin-left:16.65%}.column.reset.right.small-push-two,.column.reset.right.small-push-sixth{margin-right:16.65%}.column.reset.small-push-three,.column.reset.small-push-fourth{margin-left:25%}.column.reset.right.small-push-three,.column.reset.right.small-push-fourth{margin-right:25%}.column.reset.small-push-four,.column.reset.small-push-twosixths,.column.reset.small-push-third{margin-left:33.3%}.column.reset.right.small-push-four,.column.reset.right.small-push-twosixths,.column.reset.right.small-push-third{margin-right:33.3%}.column.reset.small-push-five{margin-left:41.65%}.column.reset.right.small-push-five{margin-right:41.65%}.column.reset.small-push-six,.column.reset.small-push-half,.column.reset.small-push-threesixths,.column.reset.small-push-twofourths{margin-left:50%}.column.reset.right.small-push-six,.column.right.reset.small-push-half,.column.right.reset.small-push-threesixths,.column.right.reset.small-push-twofourths{margin-right:50%}.column.reset.small-push-seven{margin-left:58.3%}.column.reset.right.small-push-seven{margin-right:58.3%}.column.reset.small-push-eight,.column.reset.small-push-foursixths,.column.reset.small-push-twothirds{margin-left:66.6%}.column.reset.right.small-push-eight,.column.reset.right.small-push-foursixths,.column.reset.right.small-push-twothirds{margin-right:66.6%}.column.reset.small-push-nine,.column.reset.small-push-threefourths{margin-left:75%}.column.reset.right.small-push-nine,.column.reset.right.small-push-threefourths{margin-right:75%}.column.reset.small-push-ten,.column.reset.small-push-fivesixths{margin-left:83.35%}.column.reset.right.small-push-ten,.column.reset.right.small-push-fivesixths{margin-right:83.35%}.column.reset.small-push-eleven{margin-left:91.7%}.column.reset.right.small-push-eleven{margin-right:91.7%}.column.small-first,.column.first.small-first{clear:both}.column.small-last,.column.last.small-last{margin-right:0}.column.right.small-last,.column.right.last.small-last{margin-left:0}.column.small-break{width:auto !important;float:none !important;clear:both !important;margin-right:0 !important;margin-left:0 !important}}@media handheld,only screen and (max-width:69.9375em){.hidden-under-medium{display:none}}@media handheld,only screen and (min-width:70em){.hidden-over-medium{display:none}.limit-medium{max-width:70em}.column.first[class^="medium-"],.column.first[class*=" medium-"]{clear:none}.column.small-first[class^="medium-"],.column.small-first[class*=" medium-"]{clear:none}.column.last[class^="medium-"],.column.last[class*=" medium-"],.column.small-last[class^="medium-"],.column.small-last[class*=" medium-"]{margin-right:3.8%}.column.right.last[class^="medium-"],.column.right.last[class*=" medium-"],.column.right.small-last[class^="medium-"],.column.right.small-last[class*=" medium-"]{margin-left:3.8%}.column[class^="medium-"],.column[class*=" medium-"]{clear:none;float:left;min-height:1px;margin-left:0;margin-right:3.8%}.column.right[class^="medium-"],.column.right[class*=" medium-"]{float:right;margin-right:0;margin-left:3.8%}.column.reset[class^="medium-"],.column.reset[class*=" medium-"]{margin-right:0;margin-left:0}.column.medium-full,.column.medium-twelve{width:100%}.column.medium-fifth{width:16.95%}.column.medium-twofifths{width:37.70%}.column.medium-threefifths{width:58.45%}.column.medium-fourfifths{width:79.20%}.column.medium-push-fifth{margin-left:20.45%}.column.medium-right.push-fifth{margin-right:20.45%}.column.medium-push-twofifths{margin-left:41.50%}.column.medium-right.push-twofifths{margin-right:41.50%}.column.medium-push-threefifths{margin-left:62.25%}.column.medium-right.push-threefifths{margin-right:62.25%}.column.medium-push-fourfifths{margin-left:83.00%}.column.medium-right.push-fourfifths{margin-right:83.00%}.column.medium-one{width:4.85%}.column.medium-two,.column.medium-sixth{width:13.45%}.column.medium-three,.column.medium-fourth{width:22.05%}.column.medium-four,.column.medium-twosixths,.column.medium-third{width:30.75%}.column.medium-five{width:39.45%}.column.medium-six,.column.medium-half,.column.medium-threesixths,.column.medium-twofourths{width:48%}.column.medium-seven{width:56.75%}.column.medium-eight,.column.medium-foursixths,.column.medium-twothirds{width:65.4%}.column.medium-nine,.column.medium-threefourths{width:74.05%}.column.medium-ten,.column.medium-fivesixths{width:82.7%}.column.medium-eleven{width:91.35%}.column.medium-full.reset,.column.medium-twelve.reset{width:100%}.column.medium-push-one{margin-left:8.65%}.column.right.medium-push-one{margin-right:8.65%}.column.medium-push-two,.column.medium-push-sixth{margin-left:17.25%}.column.right.medium-push-two,.column.right.medium-push-sixth{margin-right:17.25%}.column.medium-push-three,.column.medium-push-fourth{margin-left:25.85%}.column.right.medium-push-three,.column.right.medium-push-fourth{margin-right:25.85%}.column.medium-push-four,.column.medium-push-twosixths,.column.medium-push-third{margin-left:34.55%}.column.right.medium-push-four,.column.right.medium-push-twosixths,.column.right.medium-push-third{margin-right:34.55%}.column.medium-push-five{margin-left:43.25%}.column.right.medium-push-five{margin-right:43.25%}.column.medium-push-six,.column.medium-push-half,.column.medium-push-threesixths,.column.medium-push-twofourths{margin-left:51.8%}.column.right.medium-push-six,.column.right.medium-push-half,.column.right.medium-push-threesixths,.column.right.medium-push-twofourths{margin-right:51.8%}.column.medium-push-seven{margin-left:60.55%}.column.right.medium-push-seven{margin-right:60.55%}.column.medium-push-eight,.column.medium-push-foursixths,.column.medium-push-twothirds{margin-left:69.2%}.column.right.medium-push-eight,.column.right.medium-push-foursixths,.column.right.medium-push-twothirds{margin-right:69.2%}.column.medium-push-nine,.column.medium-push-threefourths{margin-left:77.85%}.column.right.medium-push-nine,.column.right.medium-push-threefourths{margin-right:77.85%}.column.medium-push-ten,.column.medium-push-fivesixths{margin-left:86.5%}.column.right.medium-push-ten,.column.right.medium-push-fivesixths{margin-right:86.5%}.column.medium-push-eleven{margin-left:95.15%}.column.right.medium-push-eleven{margin-right:95.15%}.column.medium-one.reset{width:8.3%}.column.medium-two.reset,.column.medium-sixth.reset{width:16.65%}.column.medium-three.reset,.column.medium-fourth.reset{width:25%}.column.medium-four.reset,.column.medium-twosixths.reset,.column.medium-third.reset{width:33.3%}.column.medium-five.reset{width:41.65%}.column.medium-six.reset,.column.medium-half.reset,.column.medium-threesixths.reset,.column.medium-twofourths.reset{width:50%}.column.medium-seven.reset{width:58.3%}.column.medium-eight.reset,.column.medium-foursixths.reset,.column.medium-twothirds.reset{width:66.6%}.column.medium-nine.reset,.column.medium-threefourths.reset{width:75%}.column.medium-ten.reset,.column.medium-fivesixths.reset{width:83.35%}.column.medium-eleven.reset{width:91.7%}.column.reset.medium-push-one{margin-left:8.3%}.column.reset.right.medium-push-one{margin-right:8.3%}.column.reset.medium-push-two,.column.reset.medium-push-sixth{margin-left:16.65%}.column.reset.right.medium-push-two,.column.reset.right.medium-push-sixth{margin-right:16.65%}.column.reset.medium-push-three,.column.reset.medium-push-fourth{margin-left:25%}.column.reset.right.medium-push-three,.column.reset.right.medium-push-fourth{margin-right:25%}.column.reset.medium-push-four,.column.reset.medium-push-twosixths,.column.reset.medium-push-third{margin-left:33.3%}.column.reset.right.medium-push-four,.column.reset.right.medium-push-twosixths,.column.reset.right.medium-push-third{margin-right:33.3%}.column.reset.medium-push-five{margin-left:41.65%}.column.reset.right.medium-push-five{margin-right:41.65%}.column.reset.medium-push-six,.column.reset.medium-push-half,.column.reset.medium-push-threesixths,.column.reset.medium-push-twofourths{margin-left:50%}.column.reset.right.medium-push-six,.column.right.reset.medium-push-half,.column.right.reset.medium-push-threesixths,.column.right.reset.medium-push-twofourths{margin-right:50%}.column.reset.medium-push-seven{margin-left:58.3%}.column.reset.right.medium-push-seven{margin-right:58.3%}.column.reset.medium-push-eight,.column.reset.medium-push-foursixths,.column.reset.medium-push-twothirds{margin-left:66.6%}.column.reset.right.medium-push-eight,.column.reset.right.medium-push-foursixths,.column.reset.right.medium-push-twothirds{margin-right:66.6%}.column.reset.medium-push-nine,.column.reset.medium-push-threefourths{margin-left:75%}.column.reset.right.medium-push-nine,.column.reset.right.medium-push-threefourths{margin-right:75%}.column.reset.medium-push-ten,.column.reset.medium-push-fivesixths{margin-left:83.35%}.column.reset.right.medium-push-ten,.column.reset.right.medium-push-fivesixths{margin-right:83.35%}.column.reset.medium-push-eleven{margin-left:91.7%}.column.reset.right.medium-push-eleven{margin-right:91.7%}.column.medium-first[class^="medium-"],.column.medium-first[class*=" medium-"]{clear:both}.column.medium-last,.column.medium-last[class^="medium-"],.column.medium-last[class*=" medium-"]{margin-right:0}.column.right.medium-last,.column.right.medium-last[class^="medium-"],.column.right.medium-last[class*=" medium-"]{margin-left:0}.column.medium-break{width:auto !important;float:none !important;clear:both !important;margin-right:0 !important;margin-left:0 !important}}