/* Basics */
* {-moz-box-sizing: border-box; box-sizing: border-box;}
html, body {height:100%;}
html {color: #666666; font-family: 'Lato', sans-serif; font-size: 1em; line-height: 1.4;}
html.menu-open {overflow-y: hidden;}
a {text-decoration:none; color:#e74c3c;}
a:hover {color:#666666;}
.container {width:94%; max-width:1280px; margin:0 auto;}
a.phone {color:#666666;}

/* Misc */
::-moz-selection {background: #f6c4c1; text-shadow: none;}
::selection {background: #f6c4c1; text-shadow: none;}
img,svg {vertical-align: middle;}
img {max-width:100%;}
.center-align {text-align:center;}
.right-align {text-align:right;}
.left-align {text-align:left;}
.clear {clear:both;}
.brand-color {color:#e74c3c;}

.button {display:inline-block; padding:1.2rem 4rem; font-size:1.750rem; line-height:1; color:#e74c3c; font-weight:400; border:1px solid #e74c3c; border-radius:4px; transition:.5s;}
.button:hover {background-color:#e74c3c; color:#ffffff;}

h1, h2, h3, h4, h5, h6 {font-family: 'Poppins', sans-serif; text-align:center;}
h1 {font-size:3.375rem; color:#e74c3c;}

/* Header */
header {text-align:left; padding:0 1em; font-size:1.3em; text-transform:uppercase; font-weight:300; background-color:rgba(255,255,255,.8); height:60px; line-height:60px; position:fixed; z-index:9999; width:100%;}
header a {color:#666666;}
header a span.dev {font-weight:700; color:#e74c3c; display:inline-block;}


.menu-icon {width: 21px; height: 15px; position: absolute; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; right:0; top:50%; margin-top:-7px; margin-right:1em;}
.menu-icon span {display: block; position: absolute; height: 3px; width: 100%; background: #999999; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.menu-icon span:nth-child(1) {top: 0px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center;}
.menu-icon span:nth-child(2) {top: 6px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center;}
.menu-icon span:nth-child(3) {top: 12px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center;}
.menu-icon.open span:nth-child(1) {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top: -3px; left: 0;}
.menu-icon.open span:nth-child(2) {width: 0%; opacity: 0;}
.menu-icon.open span:nth-child(3) {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); top: 12px; left: 0;}

nav {height: 100%; width: 100%; opacity:0; position: fixed;  z-index: -1; left: 0; top: 0; background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9); overflow: hidden; -webkit-transition: .5s; transition: .5s;}
nav.active {opacity:1; z-index: 9000;}
nav.active + header {background-color:#fff; }

.nav-content {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align:center;}
.nav-content a {display:block; color:#bfbfbf ; font-size:1.750em; line-height:1.8em;}
.nav-content a:hover {color:#ffffff;}

footer {position:absolute; width:100%; bottom:0; left:0; padding:1.5em 2em; text-align:center; background-color:rgba(255,255,255,.1);}
footer a {display:inline-block; margin:0 10px;}
footer a img {opacity:.6;}
footer a:hover img {opacity:1;}

.error-404 {font-size:2em; text-align:center; font-family: 'Poppins', sans-serif;}
.error-404 span {font-size:4em; color:#e74c3c; font-weight:700;}


@media only screen and (min-width: 38em) {
	header {text-align:center; padding:0 2em; font-size:2.4em; height:120px; line-height:120px;}
}
@media only screen and (min-width: 50em) {
	header {font-size:2.8em;}
	header a span.dev {margin:0 0 0 10px;}
	.menu-icon {margin-right:2em;}
}


section {font-size:1.750em; font-weight:300; line-height:1.7em; height:auto; position:relative; width:100%;  padding:3em 0;}
section#intro {text-align:center;}
.section-content {width:100%;}
section.portfolio {overflow:hidden; height:auto; padding:3em 0;}
section.portfolio a {color:#fff;}
section.portfolio a:hover:not(.button) {color:#fff; font-weight:400;} 

#rentvine {background:url(../../images/rentvine.jpg) no-repeat center top; background-size:cover;}
#groupfox {background:url(../../images/groupfox.jpg) no-repeat center top; background-size:cover;}
#sandestin {background:url(../../images/sandestin.jpg) no-repeat center center; background-size:cover;}
#faros {background:url(../../images/faros.jpg) no-repeat center center; background-size:cover;}
#tishman {background:url(../../images/tishman-speyer.jpg) no-repeat center center; background-size:cover;}

.portfolio-content {text-align:center; color:#fff; width:100%; text-shadow: 0px 0px 35px rgba(0, 0, 0, 1);}
.portfolio-content-inner {font-size:1.500rem; line-height:1.5em; margin: 0; padding: 1em; position:relative; width:100%;} 
.portfolio-content .button {color:#fff; font-weight:400; border:1px solid #fff;}
.portfolio-content .button:hover {background-color:#fff; color:#666;}
.portfolio-content a.logo img {max-height:150px; max-width:70%;}

#developer {background-color:#e74c3c; color:#fff; text-align:center;}
#skill {background-color:#ECF0F1; text-align:center; font-size:1.250em;}
#contact {text-align:center;}
#contact img {margin:10px;}
@media only screen and (min-width: 38em) {
	section#intro {padding:4em 0 3em;}	
}

@media only screen and (min-width: 50em) {
	.portfolio-content a.logo img {max-height:none; max-width:none;}
	section.portfolio, section:not(.deflate) {height:100%; padding:0;}
	section#intro {height:auto; padding:7em 0 5em; text-align:left;}
	.portfolio-content, section:not(.deflate) .section-content  {position: absolute; top: 50%; left:0; transform: translate(0, -50%);}
	section#intro .section-content {position:relative; top:auto; left:auto; transform:none;}
	#developer, #contact {text-align:left;}
}

@media only screen and (min-width: 40em) {
	#skill {text-align:left;}
}